# LIGHT_VERSION. PARSING IS DISABLED (NO PANDAS/CELERY/NP)
LIGHT_MODE=
API_PREFIX=
DELETE_REPLAY=
MATCH_ONE_TASK=
# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_ADDRESS=

# CORS
CORS_ADDRESS="*"
# REDIS
REDIS_PASSWORD=
# STRATZ
STRATZ_API_TOKEN=
# PARSING
PARSER_PORTS=
PARSER_ADDRESS=
